<svg xmlns="http://www.w3.org/2000/svg" class="d-none">

  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>



<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm  [formGroup]="formData" (ngSubmit)="onClickLogin(formData.getRawValue())">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input  class = "form-control" formControlName="username" name="username" autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password" class = "form-control" formControlName = "password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button [cPopoverTrigger]="'click'" cButton cPopover="Ask Nadeem the password :("
                            cPopoverPlacement="top" class="me-1" cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
                <hr>
                <c-alert [(visible)]="visible"
                         [dismissible]="dismissible"
                         fade
                         *ngIf="visible" color="danger" class="d-flex align-items-center">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill" />
                  </svg>
                  <strong>Invalid Username or password. </strong>  Please try again.
                </c-alert>
              </form>
            </c-card-body>
          </c-card>

        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
<div
  class="status"
  [class.offline]="status === onlineStatusCheck.OFFLINE"
></div>

<div style="text-align:center">
  <h1>
    Detect Internet Status Online Offline Demo
  </h1>
  <h2>
    Use third party library :
  </h2>
  <a
    href="https://www.npmjs.com/package/ngx-online-status"
    rel="nofollow"
    target="_blank"
  >npm/ngx-online-status
  </a>
  <h3>Steps to test the functionality</h3>
  <p>
    Just turn <span style="color:#11d411">ON</span> and
    <span style="color:rgb(231, 14, 14)">OFF</span> your Internet connection.
  </p>
</div>
