/dafi-dao/.classpath
/dafi-dao/.factorypath
/dafi-dao/.project
/dafi-dao/.settings
/dafi-entities/.classpath
/dafi-entities/.project
/dafi-entities/.settings
/dafi-web/.classpath
/dafi-web/*.project
/dafi-dao/target
/dafi-entities/target
/dafi-parent/.settings
/dafi-parent/.project
/dafi-service-api/target
/dafi-service-api/.settings
/dafi-service-impl/target
/dafi-service-impl/.settings
/dafi-web/target
/dafi-web/.settings
/dafi-service-api/.classpath
/dafi-service-api/.factorypath
/dafi-service-api/.project
/dafi-service-impl/.classpath
/dafi-service-impl/.factorypath
/dafi-service-impl/.project
/dafi-web/.factorypath
/dafi-entities/.factorypath
/dafi-testing/.classpath
/dafi-testing/.project
/dafi-testing/.settings
/dafi-testing/target
/dafi-parent/release.properties
/dafi-integrations/.classpath
/dafi-integrations/.settings
/dafi-integrations/.project
/dafi-integrations/.factorypath
/dafi-integrations/target
/dafi-parent/target/dependency-check-report.html
