<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1 header-toggle"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-lg-flex me-auto">
      <c-nav-item>

        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          Logged in as {{userType}}
        </a>

      </c-nav-item>
      <c-nav-item>
        <button (click)="Logout($event)" type="button" size="sm" cButton color="dark" variant="outline">Log Out</button>
      </c-nav-item>
    </c-header-nav>

  </c-container>
<!--  <c-header-divider></c-header-divider>-->
<!--  <c-container [fluid]="true">-->
<!--    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>-->
<!--  </c-container>-->
</ng-container>
<!--</c-header>-->
