
<c-row>
  <c-col xs>

    <c-card class="mb-4">
      <c-card-body>
        <c-row>

          <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >
            <div class="numberSpinner">
              <label>Week No. </label>
              <input style="width: 40px; height:25px; margin-left: 10px" type="number" formControlName="weekNo" name="weekNo" value="1" maxlength="2">
            </div>
          </form>

          <p></p>
          <hr class="mt-0"/>

          <!--          Labels-->
          <c-col md="2" xl="2" xs="2">
            <!--          <c-col md="4" xl="4" xs="8">-->
            <!--Changed xs from 12 to 8-->

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Day</b>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Monday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Tuesday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Wednesday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Thursday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Friday</span>
            </div>
          </c-col>

          <!--          Descriptions-->
          <c-col md="4" xl="4" xs="4">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Menu</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="menuMon" type="text" sizing="sm" formControlName="menuMon" name="menuMon" maxlength="40" size="10">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="menuTue" type="text" formControlName="menuTue" name="menuTue" maxlength="40" size="10">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="menuWed" type="text" formControlName="menuWed" name="menuWed" maxlength="40" size="10">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="menuThu" type="text" formControlName="menuThu" name="menuThu" maxlength="40" size="10">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="menuFri" type="text" formControlName="menuFri" name="menuFri" maxlength="40" size="10">
                </div>
              </div>

            </form>

            <!--            key-->
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-success">&nbsp;</span>
                </sup>
                <span>Veg</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-info"
                >&nbsp;</span
                ></sup
                >
                <span>Non-veg</span>
              </small>
            </div>

          </c-col>

          <!--          Price-->
          <c-col md="2" xl="2" xs="2">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Price</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input  class="text-medium-emphasis small" id="priceMon" type="text" sizing="sm" formControlName="priceMon" name="priceMon" maxlength="4" size="2">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="priceTue" type="text" formControlName="priceTue" name="priceTue" maxlength="4" size="2">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="priceWed" type="text" formControlName="priceWed" name="priceWed" maxlength="4" size="2">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="priceThu" type="text" formControlName="priceThu" name="priceThu" maxlength="4" size="2">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input class="text-medium-emphasis small" id="priceFri" type="text" formControlName="priceFri" name="priceFri" maxlength="4" size="2">
                </div>
              </div>

            </form>

          </c-col>

          <!--          Options-->
          <!--          Veg-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Veg</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input id="vegMon" type="checkbox" value="veg" formControlName="optionMonVeg" name="optionMonVeg">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input id="vegTue" type="checkbox" value="veg" formControlName="optionTueVeg" name="optionTueVeg">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input id="vegWed" type="checkbox" value="veg" formControlName="optionWedVeg" name="optionWedVeg">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input id="vegThu" type="checkbox" value="veg" formControlName="optionThuVeg" name="optionThuVeg">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input type="checkbox" id="vegFri"  value="veg" formControlName="optionFriVeg" name="optionFriVeg">
                </div>
              </div>

            </form>
          </c-col>

          <!--          Non Veg-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">NonVeg</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="checkboxBtn" id="nonvegMon" type="checkbox" value="nonveg" formControlName="optionMonNonVeg" name="optionMonNonVeg">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="checkboxBtn" id="nonvegTue" type="checkbox" value="nonveg" formControlName="optionTueNonVeg" name="optionTueNonVeg">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="checkboxBtn" id="nonvegWed" type="checkbox" value="nonveg" formControlName="optionWedNonVeg" name="optionWedNonVeg">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="checkboxBtn" id="nonvegThu" type="checkbox" value="nonveg" formControlName="optionThuNonVeg" name="optionThuNonVeg">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input type="checkbox" class="checkboxBtn" id="nonvegFri"  value="nonveg" formControlName="optionFriNonVeg" name="optionFriNonVeg">
                </div>
              </div>

            </form>
          </c-col>

          <hr class="mt-0"/>

          <!--          buttons-->
          <div class="blockBtn">
            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" class="submitBtn">
              <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Save</button>
            </form>
            <form [formGroup]="formData" (ngSubmit)="onClickReset(formData.getRawValue())" class="resetBtn">
              <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Reset</button>
            </form>

          </div>
        </c-row>
      </c-card-body>

    </c-card>


  </c-col>
</c-row>


<!--Pop up for unathoried access-->

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

<c-modal  #staticBackdropModal backdrop="static" alignment="center" id="InvalidUserType" [visible]="modalVisibility" (visibleChange)="handleLiveDemoChange($event)">

  <c-modal-header style="justify-content: left" class="btn btn-ghost-danger">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24"  aria-label="Info:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <h3>Unauthorised Access</h3>
  </c-modal-header>

  <c-modal-body>You do not have access to this page. Please log in as Admin </c-modal-body>

  <c-modal-footer>
    <button (click)="toggleLiveDemo()"  class="btn btn-primary">
      Close
    </button>
  </c-modal-footer>

</c-modal>


