<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <hr class="mt-0"/>

<!--          Confirmation-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Confirm</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="confirmMon" type="checkbox" value="confirm" formControlName="confirmMon" name="confirmMon">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="confirmTue" type="checkbox" value="confirm" formControlName="confirmTue" name="confirmTue">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="confirmWed" type="checkbox" value="confirm" formControlName="confirmWed" name="confirmWed">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="confirmThu" type="checkbox" value="confirm" formControlName="confirmThu" name="confirmThu">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="confirmFri" type="checkbox" value="confirm" formControlName="confirmFri" name="confirmFri">
                </div>
              </div>

            </form>
          </c-col>

<!--          Labels-->
          <c-col md="2" xl="2" xs="2">
<!--          <c-col md="4" xl="4" xs="8">-->
<!--Changed xs from 12 to 8-->

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Day</b>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Monday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Tuesday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Wednesday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Thursday</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Friday</span>
            </div>

            <br>
<!--            Total-->
            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Total</span>
            </div>
          </c-col>

<!--          Descriptions-->
          <c-col md="3" xl="3" xs="3">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Menu</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let menuDesc of menuDescriptions; index as i">
              <span class="text-medium-emphasis small">{{menuDesc}}</span>
            </div>

<!--            <div class="progress-group mb-4">-->
<!--              <span class="text-medium-emphasis small">{{menuDescriptions[0]}}</span>-->
<!--            </div>-->

<!--            <div class="progress-group mb-4">-->
<!--              <span class="text-medium-emphasis small">{{menuDescriptions[0]}}</span>-->
<!--            </div>-->

<!--            <div class="progress-group mb-4">-->
<!--              <span class="text-medium-emphasis small">{{menuDescriptions[0]}}</span>-->
<!--            </div>-->

<!--            <div class="progress-group mb-4">-->
<!--              <span class="text-medium-emphasis small">{{menuDescriptions[0]}}</span>-->
<!--            </div>-->

            <!--            key-->
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                </sup>
                <span>Veg</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-danger"
                >&nbsp;</span
                ></sup
                >
                <span>Non-veg</span>
              </small>
            </div>

          </c-col>

<!--          Options-->
          <c-col md="3" xl="3" xs="3">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Options</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

      <!--              Monday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegMon" type="radio" value="veg" formControlName="optionMon" name="optionMon">
                  <input class="radioBtn" id="nonvegMon" type="radio" value="nonveg" formControlName="optionMon" name="optionMon">
                </div>
              </div>

<!--              Tuesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegTue" type="radio" value="veg" formControlName="optionTue" name="optionTue">
                  <input class="radioBtn" id="nonvegTue" type="radio" value="nonveg" formControlName="optionTue" name="optionTue">
                </div>
              </div>

<!--              Wednesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegWed" type="radio" value="veg" formControlName="optionWed" name="optionWed">
                  <input class="radioBtn" id="nonvegWed" type="radio" value="nonveg" formControlName="optionWed" name="optionWed">
                </div>
              </div>

<!--              Thursday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegThu" type="radio" value="veg" formControlName="optionThu" name="optionThu">
                  <input class="radioBtn" id="nonvegThu" type="radio" value="nonveg" formControlName="optionThu" name="optionThu">
                </div>
              </div>

<!--              Friday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input type="radio" id="vegFri"  value="veg" formControlName="optionFri" name="optionFri">
                  <input type="radio" class="radioBtn" id="nonvegFri"  value="nonveg" formControlName="optionFri" name="optionFri">
                </div>
              </div>

            </form>

          </c-col>

<!--          Payment-->
          <c-col md="2" xl="2" xs="2">

              <div class="progress-group mb-4">
                <b class="text-medium-emphasis small">Paid</b>
              </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentMon" type="checkbox" value="payment" formControlName="paymentMon" name="paymentMon">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentTue" type="checkbox" value="payment" formControlName="paymentTue" name="paymentTue">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentWed" type="checkbox" value="payment" formControlName="paymentWed" name="paymentWed">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentThu" type="checkbox" value="payment" formControlName="paymentThu" name="paymentThu">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentFri" type="checkbox" value="payment" formControlName="paymentFri" name="paymentFri">
                </div>
              </div>

              <hr class="mt-0"/>

<!--              Total amount-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <span class="text-center">xxx</span>
                </div>
              </div>

            </form>
          </c-col>

          <hr class="mt-0"/>

          <div class="blockBtn">
            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" class="submitBtn">
              <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Save</button>
            </form>
            <form [formGroup]="formData" (ngSubmit)="onClickReset(formData.getRawValue())" class="resetBtn">
              <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Reset</button>
            </form>
          </div>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<!--&lt;!&ndash;<app-widgets-dropdown></app-widgets-dropdown>&ndash;&gt;-->
<!--<app-widgets-brand [withCharts]="true"></app-widgets-brand>-->
