<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <hr class="mt-0"/>

          <!--          Labels-->
          <c-col md="2" xl="2" xs="2">
            <!--          <c-col md="4" xl="4" xs="8">-->
            <!--Changed xs from 12 to 8-->

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Day</b>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Mon</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Tue</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Wed</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Thu</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Fri</span>
            </div>

            <br>
            <!--            Total-->
            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Total</span>
            </div>
          </c-col>

          <!--          Descriptions-->
          <c-col md="2" xl="2" xs="2">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Menu</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let menuDesc of menuDescriptions; index as i">
              <span class="text-medium-emphasis small">{{menuDesc}}</span>
            </div>

            <!--            key-->
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-success">&nbsp;</span>
                </sup>
                <span>Veg</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-info"
                >&nbsp;</span
                ></sup
                >
                <span>Non-veg</span>
              </small>
            </div>

          </c-col>

          <!--          Price-->
          <c-col md="1" xl="1" xs="1">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Price</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let priceDesc of priceDescriptions; index as i">
              <span class="text-medium-emphasis small">{{priceDesc}}</span>
            </div>

          </c-col>

          <!--          Options-->
          <c-col md="3" xl="3" xs="3">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Options</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegMon" type="radio" value="veg" formControlName="optionMon" name="optionMon" (change)="changeOption($event)">
                  <input class="radioBtn" id="nonvegMon" type="radio" value="nonveg" formControlName="optionMon" name="optionMon" (change)="changeOption($event)">
                </div>
              </div>

              <!--              Tuesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegTue" type="radio" value="veg" formControlName="optionTue" name="optionTue" (change)="changeOption($event)">
                  <input class="radioBtn" id="nonvegTue" type="radio" value="nonveg" formControlName="optionTue" name="optionTue" (change)="changeOption($event)">
                </div>
              </div>

              <!--              Wednesday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegWed" type="radio" value="veg" formControlName="optionWed" name="optionWed" (change)="changeOption($event)">
                  <input class="radioBtn" id="nonvegWed" type="radio" value="nonveg" formControlName="optionWed" name="optionWed" (change)="changeOption($event)">
                </div>
              </div>

              <!--              Thursday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input id="vegThu" type="radio" value="veg" formControlName="optionThu" name="optionThu" (change)="changeOption($event)">
                  <input class="radioBtn" id="nonvegThu" type="radio" value="nonveg" formControlName="optionThu" name="optionThu" (change)="changeOption($event)">
                </div>
              </div>

              <!--              Friday-->
              <div class="progress-group mb-4">
                <div [formGroup]="formData" class="form-group">
                  <input type="radio" id="vegFri"  value="veg" formControlName="optionFri" name="optionFri" (change)="changeOption($event)">
                  <input type="radio" class="radioBtn" id="nonvegFri"  value="nonveg" formControlName="optionFri" name="optionFri" (change)="changeOption($event)">
                </div>
              </div>

            </form>

          </c-col>

          <!--          Payment-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Paid</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickPaymentMon(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentMon" type="checkbox" value="payment" formControlName="paymentMon" name="paymentMon" (change)="changePaymentMon($event)" >
                </div>
              </div>
            </form>

            <!--              Tuesday-->
            <form [formGroup]="formData" (ngSubmit)="onClickPaymentTue(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentTue" type="checkbox" value="payment" formControlName="paymentTue" name="paymentTue" (change)="changePaymentTue($event)" >
                </div>
              </div>
            </form>

            <!--              Wednesday-->
            <form [formGroup]="formData" (ngSubmit)="onClickPaymentWed(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentWed" type="checkbox" value="payment" formControlName="paymentWed" name="paymentWed" (change)="changePaymentWed($event)">
                </div>
              </div>
            </form>
            <!--              Thursday-->
            <form [formGroup]="formData" (ngSubmit)="onClickPaymentThu(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentThu" type="checkbox" value="payment" formControlName="paymentThu" name="paymentThu" (change)="changePaymentThu($event)" >
                </div>
              </div>
            </form>

            <!--              Friday-->
            <form [formGroup]="formData" (ngSubmit)="onClickPaymentFri(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <input class="tableCheckboxBtn" id="paymentFri" type="checkbox" value="payment" formControlName="paymentFri" name="paymentFri" (change)="changePaymentFri($event)">
                </div>
              </div>
            </form>

            <hr class="mt-0"/>

            <!--              Total amount-->
            <div class="progress-group mb-4">
              <div class="form-group">
                <span class="text-center">{{orderTotal}}</span>
              </div>
            </div>


          </c-col>

          <!--                    Cancel-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">-</b>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onClickResetMon(formData.getRawValue())" >

              <!--              Monday-->
              <div class="progress-group mb-4">
                <div class="form-group">
                  <div class="icons">
                    <input type="image" value="bin" name="binMon" id="binMon"  formControlName="binMon" src="assets/images/binIcon.png" width="20px" height="20px" >
                  </div>
                </div>
              </div>
            </form>

            <!--              Tuesday-->
            <form [formGroup]="formData" (ngSubmit)="onClickResetTue(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <div class="icons">
                    <input type="image" id="binTue" formControlName="binTue" src="assets/images/binIcon.png" width="20px" height="20px">
                  </div>
                </div>
              </div>
            </form>
            <!--              Wednesday-->
            <form [formGroup]="formData" (ngSubmit)="onClickResetWed(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <div class="icons">
                    <input type="image" id="binWed" formControlName="binWed" src="assets/images/binIcon.png" width="20px" height="20px">
                  </div>
                </div>
              </div>
            </form>

            <!--              Thursday-->
            <form [formGroup]="formData" (ngSubmit)="onClickResetThu(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <div class="icons">
                    <input type="image" id="binThu" formControlName="binThu" src="assets/images/binIcon.png" width="20px" height="20px">
                  </div>
                </div>
              </div>
            </form>
            <!--              Friday-->
            <form [formGroup]="formData" (ngSubmit)="onClickResetFri(formData.getRawValue())" >
              <div class="progress-group mb-4">
                <div class="form-group">
                  <div class="icons">
                    <input type="image" id="binFri" formControlName="binFri" src="assets/images/binIcon.png" width="20px" height="20px">
                  </div>
                </div>
              </div>
            </form>

          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<!--&lt;!&ndash;<app-widgets-dropdown></app-widgets-dropdown>&ndash;&gt;-->
<!--<app-widgets-brand [withCharts]="true"></app-widgets-brand>-->
