:host {
  .legend {
    small {
      font-size: x-small;
    }
  }

  .numberSpinner{
    display: inline-block;
  }

  .title{
    display: inline-block;
  }

  .form-group{
    display: inline-block;
  }
}
