<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <hr class="mt-0"/>

          <!--          Labels-->
          <c-col md="2" xl="2" xs="2">
            <!--          <c-col md="4" xl="4" xs="8">-->
            <!--Changed xs from 12 to 8-->

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Day</b>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Mon</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Tue</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Wed</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Thu</span>
            </div>

            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Fri</span>
            </div>

            <br>
            <!--            Total-->
            <div class="progress-group mb-4">
              <span class="text-medium-emphasis small">Total</span>
            </div>
          </c-col>

          <!--          Descriptions-->
          <c-col md="2" xl="2" xs="2">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Menu</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let menuDesc of menuDescriptions; index as i">
              <span class="text-medium-emphasis small">{{menuDesc}}</span>
            </div>

            <!--            key-->
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-success">&nbsp;</span>
                </sup>
                <span>Veg</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-info"
                >&nbsp;</span
                ></sup
                >
                <span>Non-veg</span>
              </small>
            </div>

          </c-col>

          <!--          Options-->
          <c-col md="3" xl="3" xs="3">

            <div class="progress-group mb-4">
              <!--            key-->
              <div class="legend text-center" ngPreserveWhitespaces>
                <small>
                  <sup>
                    <span class="badge badge-pill badge-sm bg-success">&nbsp;</span>
                  </sup>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <sup
                  ><span class="badge badge-pill badge-sm bg-info"
                  >&nbsp;</span
                  ></sup>
                </small>
              </div>
            </div>

            <div class="progress-group mb-4" *ngFor="let menuDesc of menuDescriptions; index as i">
              <span class="text-medium-emphasis small">{{menuDesc}}</span>
            </div>
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
