<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row>

          <form [formGroup]="formData">
            <div class="numberSpinner">
              <label>Week No. </label>
              <input style="width: 40px; height:25px; margin-left: 10px" type="number" formControlName="weekNo" name="weekNo" value="1" maxlength="2" (change)="changeInWeekNum($event)">
            </div>
          </form>

          <p></p>
          <hr class="mt-0"/>

          <!--          Labels-->
          <c-col md="3" xl="3" xs="3">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Day</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let day of dayArray ; index as i ">
              <span class="text-medium-emphasis small">{{dayArray[i]}}</span>
            </div>

          </c-col>

          <!--          Descriptions-->
          <c-col md="4" xl="4" xs="4">
            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Menu</b>
            </div>

            <div class="progress-group mb-4" *ngFor="let menuDesc of menuDescriptions; index as i">
              <span class="text-medium-emphasis small">{{menuDesc[i]}}</span>
            </div>

          </c-col>

          <!--          Options-->
          <!--          Veg-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">Veg</b>
            </div>

<!--            loop-->
            <div class="progress-group mb-4" *ngFor="let count_veg of countVeg; index as i">
              <span class="text-medium-emphasis small">{{count_veg}}</span>
            </div>
          </c-col>

          <!--          NonVeg-->
          <c-col md="2" xl="2" xs="2">

            <div class="progress-group mb-4">
              <b class="text-medium-emphasis small">NonVeg</b>
            </div>

<!--            loop-->
            <div class="progress-group mb-4" *ngFor="let count_Nonveg of countNonVeg; index as i">
              <span class="text-medium-emphasis small">{{count_Nonveg}}</span>
            </div>
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
